* {
  margin: 0px;
  padding: 0px;
  font-family: "helvetica";
}

@font-face {
  font-family: "maple";
  src: url(/Fonts/luckiest-guy/LuckiestGuy.ttf);
}

@font-face {
  font-family: "helvetica";
  src: url(/Fonts/HelveticaMedium/HelveticaMedium.ttf);
}



body {
  background: #fcf9ea;
}
h1 {
  font-family: "maple";
  font-weight: 100;
}

.menu img {
  width: 4rem;
  border-radius: 50%;
  margin-right: .8rem;
}

.lk {
  display: flex;
  align-items: center;
}

#erre{
  margin: .8rem 0rem 0rem .3rem;
 width: .5rem;
 
 }

.menu {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 1.5rem 5rem;
}

.menu nav ul {
  display: flex;
  list-style: none;
  align-content: center;
}

.menu nav {
  align-content: center;
}

.menu nav ul li {
  margin: auto 1rem;
  font-family: "maple";
}

.menu nav ul a {
  text-decoration: none;
  color: #000000;
}

.vaso {
  width: 30%;
}

/* ----------------------------------------- */

h2 {
  font-family: "maple";
  text-align: left;
  margin-bottom: 2rem;
  font-size: 430%;
}

.junt {
  width: 50%;
}

.junt button {
  margin: 2rem 0rem;
  font-size: 130%;
  padding: 0.5rem 2rem;
  border-radius: 12px;
  border-color: #00000000;
  background: #bb6e13;
  color: #ffffff;
}

.junt span {
  color: #f0c254;
  font-family: "maple";
  font-weight: 100;
}

.baner {
  margin: 5rem 0rem 1rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items:center ; */
}

.baner img {
  width: 25rem;
  height: 60vh;
  border-radius: 50%;
}

.parrafo_one {
  text-align: left;
}

.intro {
  font-size: 130%;
  padding: 2rem;
  width: 25%;
  background: #00000000;
  border-radius: 12px;
  margin: 3rem auto;
}

.nosotros {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nosotros img {
  width: 25%;
}

img {
  width: 100%;
  border-radius: 10px;
}

.has h4 {
  font-size: 230%;
  text-align: center;
  margin: 0rem 0rem 3rem;
  color: #bb6e13;
}
.nosots {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;

  /* background-image: linear-gradient(to right, #bb6e13 1%, #faeec7 1%); */
  background: #f9efcc;
  color: #3e1a0a;
  /* width: 100%; */
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
}

.enlacesf img {
  width: 36px;
  height: 36px;
  margin: 1.3rem 0rem;
}

/* info gall */
.info_gall {
  text-align: center;
  margin: 10rem auto 6rem;
  color: #000000;
}

.info_gall h3 {
  font-size: 300%;
  color: #f0c254;
}

.galeriaa {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  place-items: center;
  place-content: center;
  gap: 3rem;
  
}

.galeriaa img {
  width: 20rem;
  height: 35vh;
  border-radius: 1rem;
  object-fit: cover;
}

.misMenus div {
  position: relative;
}

.bebidas img {
  width: 10rem;
  position: absolute;
  top: 4rem;
  right: 5rem;
}

.wafles img {
  width: 10rem;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

/* ---------------------- */
.has {
  padding: 6rem 0rem 0rem;
}

.nosots h3 {
  font-size: 170%;
  margin: 0rem 0rem 2rem;
}

.nosots .el {
  width: 35rem;
}

.nosots p {
  width: 100%;
  margin: auto;
}

.nosots img {
  width: 25rem;
}

.menu_mapple {
  padding: 0rem 3rem;
}

.Horarios {
  width: 35rem;
  font-size: 130%;

  margin: 2rem;
  text-align: center;
  color: #3e1a0a;
  padding: 2rem 2rem;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  border: 2px solid #552e0285;
}

.Horarios h3 {
  font-family: "maple";
}

.Horarios p {
  font-size: 85%;
}

.Horarios img {
  width: 9rem;
}

#lojk {
  width: 5rem;
}
.Horarios .jijo {
  width: 25rem;
}

.hause {
  width: 100%;
}

.colors {
  border-radius: 24px;
  color: #bb6e13;
}

.nm {
  background: #a1601000;
}

.colorses {
  display: flex;
  align-items: center;
  padding: 2rem 4rem 8rem;
  margin-bottom: 5rem;
}

.Ubicacion {
  text-align: center;
  padding-top: 4rem;
}

.Ubicacion h3 {
  font-family: "maple";
  text-align: center;
  font-size: 190%;
  margin: 1rem;
  color: #bb6e13;
}
.Ubicacion p {
  margin: auto;
  width: 60%;
}

.misMenus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0rem 3rem;
}

.misMenus div {
  width: 29rem;
  margin: 1rem;
  padding: 1rem;
}

.misMenus ul li span {
  font-size: 115%;
  font-family: "maple";
}

.al {
  margin: auto;
  padding: 1rem 0rem;
  width: 13rem;
  background: #bb6e13;
  border-radius: 12px;
}

.misMenus h4 {
  font-size: 150%;
  margin: 0rem 0rem 2rem;
  color: #000000;
}

.meni h3 {
  font-family: "maple";
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}
.meni {
  padding-top: 4rem;
  color: #000000;
}

.meni a{
  text-decoration: none;
}

.misMenus h4 span {
  color: #d99019;
}

.meni p {
  width: 60%;
  color: #7c3e17;
  text-align: center;
  margin: 2rem auto 4rem auto;
}

.misMenus ul li {
  margin: 1rem;
}

footer {
  background: #502909;
  text-align: center;
  padding: 1rem 0rem;
  color: #faeec7;
}

footer h3 {
  margin: 1rem 0rem;
}

footer .redes img {
  width: 1.5rem;
  filter: invert();
  margin: 0rem 1rem;
}

.redes {
  display: flex;
  margin: 3rem 2rem;
  justify-content: space-evenly;
}

.redes p {
  font-size: 90%;
}

hr {
  margin: 1rem 0rem;
}

.parf1 {
  margin-top: 1rem;
}

@media only screen and (max-width: 1018px) {
  .baner h2 {
    font-size: 370%;
  }
}

@media only screen and (max-width: 863px) {
  .baner h2 {
    font-size: 320%;
  }

  .baner .baneo img {
    width: 10rem;
    height: 50vh;
  }

  .misMenus div {
    width: 25rem;
  }

  .imag img {
    display: none;
  }

  .colors {
    height: 80vh;
    background-image: url(/img/lugar.webp);
padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .Horarios {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  #erre{
    margin: 0.4rem 0rem 0rem .3rem;
   width: .7rem;
   
   }

  .info_gall h3 {
    font-size: 350%;
    
}

  .menu img {
    display: inline;
    width: 3rem;
    border-radius: 50%;
  }

  footer .redes img {
    width: 2rem;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
  .nosots p {
    font-size: 90%;
  }

  .meni h3 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 150%;
  }
  .baner h2 {
    text-align: center;
    font-size: 220%;
  }

  .baner {
    margin-top: 3rem;
    gap: 0rem;
  }

  .junt {
    width: 90%;
    text-align: center;
  }

  .baner .enlacesf {
    display: flex;
    gap: 3rem;
  }

  .baner .baneo {
    width: 15rem;
    height: auto;
  }

  .info_gall h3 {
    font-size: 200%;
    padding: 0rem 1rem;
    margin-bottom: 2rem;
  }

  .nosots img {
    width: 8rem;
  }

  .nosots p {
    font-size: 100%;
  }
  .meni p {
    width: 80%;
  }

  .menu {
    justify-content: center;
    padding: 0rem;
    margin: 1rem auto;
  }
  .menu nav {
    display: none;
  }

  .misMenus {
    padding: 0rem 0.3rem;
  }

  .misMenus h4 {
    font-size: 120%;
  }

  .misMenus ul li {
    font-size: 100%;
  }

  .Ubicacion p {
    width: 80%;
  }

  .colorses {
    padding: 1rem;
    display: block;
    margin: auto;
  }

  .Horarios {
    margin: 2rem auto;
    width: 15rem;
    padding: 1rem 0rem;
    backdrop-filter: blur(5px);
    color: #fff;
  }

  .Horarios p {
    font-size: 65%;
  }

  .Horarios h3 {
    font-size: 90%;
  }

  .Horarios img {
    width: 5rem;
  }
  .Horarios .jijo {
    width: 15rem;
  }
  .redes {
    margin: 3rem 0.5rem;
    gap: 0.5rem;
  }

  .redes p {
    font-size: 60%;
  }

  .galeriaa {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }

  .galeriaa img {
    width: 10rem;
    height: 25vh;
  }
}
